# dotenv
.env

# Node packages
node_modules

# npm
package-lock.json
!/package-lock.json
npm-debug.log
npm-debug.log.*
.npmrc
/report.*.json

# pnpm
shrinkwrap.yaml
!/shrinkwrap.yaml
pnpm-debug.log

# Yarn
yarn.lock
!/yarn.lock
yarn-error.log

# Generated or temporary content
dist
temp

# IDEs
/debug.log
/.vscode/
/.idea/
